.PostShare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .description-input {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
 }
 .description-input textarea {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  margin: 5px;
  border: none;
  background: linear-gradient(to right, #3f3c4b, var(--theme_color) 180%);
 
  border-radius: 20px;
  color: var(--theme_color);
 }
 .post-option {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed rgba(197, 191, 205, 0.25);
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
 }
 
.PostShare input[type='file'] {
  display: none;
 }
 .previewImage {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
 }
 .previewImage img{
  
  object-fit: cover;
  max-height: 200px;
  border: 2px dashed rgba(197, 191, 205, 0.25);
  z-index: 2000;
  padding: 2px;
 
 }
 .tag-option {
  display: flex;
  justify-content: start;
  margin-top:10px ;
 
 }
 .tag-head{
  margin-top: 12px;
 }
 .tag-box {
  margin: 5px;
  height: 250px;
  overflow: scroll;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
 }
 .taginput-Buttons {
  row-gap: 10px;
  width: 100%;
  display: grid;
  margin: 10px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
 }
 .tag-btn {
  padding: 5px;
  width: 80%;
  border: none;
  height: 40px;
  color: black !important;
  border-radius: 20px;
 }
 .schedulepost {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
 }
 .schedulepost input {
  padding: 10px;
  font-size: 18px;
  margin: 5px;
  border: none;
  background: linear-gradient(to right, #3f3c4b, var(--theme_color) 180%);
  border-radius: 20px;
  color: var(--theme_color);
 }
 .selected-tag{
  background-color: var(--theme_color);
 }
 
 